.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
.modal-main {
    width: 40%;
    position:fixed;
    background: #232323;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}