.addMovie{
    display: flex;
    flex-flow: column;
    background-color: #232323;
    padding: 0px 50px 50px 50px;
}

.addMovie span{
    color: #F65261;
    font-size: 20px;
    padding:20px 0px 10px 0px;
}

.addMovie input{
    font-size: 20px;
    background-color: #1c1c1c;
    border: 0;
    color:white;
    height: 40px;
}

.addMovie select{
    font-size: 20px;
    color:white;
    border-width: 0px;
}

.addMovie #addMovieSpan{
    font-size: 40px;
    padding-bottom: 20px;
    color:white;
}

.buttons{
    display: flex;
    margin-left: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.buttons button{
    border: 1;
    font-size: 19px;
    padding:10px 45px 10px 45px;
    border-radius: 5px;
}

.resetButton{
    background-color: #232323;
    border-color: #F65261;
    color: #F65261;
}

.submitButton{
    background-color: #F65261;
    border-color: #F65261;
    color: white;
}