  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }

  .moviesPalette{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex:33%;
    max-width: 320px;
    padding-bottom: 30px;    
  }
  
  .sorting{
    margin-left: auto;
  }

  .moviesMain{
    background-color: #232323;
    display: flex; 
    justify-content: center;
  }

  .moviesMainContent{
      width: 90%;
  }

  .counter{
      font-size: 20px;
      padding: 20px 0 20px 0;
  }

  .filters{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 15px;
  }

  select {
    border: 0px;
    background: transparent;
    color: #FFFFFF;
    color: inherit;
    font: inherit;
  }

  select option
  {
    background: #232323;
    border: 0px; 
  }

  .sortBySpan{
      padding-right: 30px;
      color: #555555;
  }

  .genreButton {     
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;        
    color: #FFFFFF;
    font-size: 20px;
  }
  
  .genre{
    margin-left: auto;
  }

  .unselectedGenre{
    border: none;
  }

  .selectedGenre{
    border-bottom-color: #F65261;
    border-width: 0px 0px 5px 0px;
  }