.genreButton {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
  }
  
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 10px;
    background-color: #ffffff;
  }
  
  .genre{
    margin-left:auto;
  }
  
  .sorting{
    margin-left:auto;
  }